@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-colour: #f5f5f5;
  --secondary-colour: #37474f;
  --tertiary-colour: #6ca0dc;
  --accent-colour: #c0d960;
}

p,
h3 {
  font-family: "Nunito", "sans-serif";
}

h1,
h2 {
  font-family: "Merriweather", "serif";
}

@layer components {
  .auth-container {
    @apply h-[60%] bg-backgroundColour w-full  max-w-[550px] flex flex-col items-center justify-center;
  }
  .auth-form {
    @apply flex flex-col border-2 border-black w-[80%];
  }
}
